name: Validate
on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Yarn install
        run: yarn install --pure-lockfile
      - name: Lint
        run: yarn lint
  container-test:
    name: Lint in container
    runs-on: ubuntu-latest
    container: node:22
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Yarn install
        run: yarn install --pure-lockfile
      - name: Lint
        run: yarn lint
